.board-game {
  width: 600px;
  height: 600px;
  display: grid;
  padding: 12px;
  grid: repeat(3, 32%) / auto-flow 32%;
  gap: 8px;
  background-color: white;
  margin: auto;
  border-radius: 8px;
  
}

.square {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  border: 1px solid black;
  border-radius: 4px;
  color: black;
  font-size: 40px;
  cursor: pointer;
  position: relative;
}

.square:hover {
  zoom: 2;
}

.line-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width:  600px;
  height:  600px;
}
.line {
  transition: 0.5 ease-out;
  width: 600px;
  height: 10px;
  
  position: absolute;
  z-index: 200;
  border-radius: 4px;
  background-color: black;
}